/* Cross pages stye */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html, body {
  font-size: calc(.75rem + 2vh);
}

body {
  background-color: rgba(181,198,145,255);
  font-family: Optima;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  /* max-width: 450px; */
  width: 100%;
}

.main_wraper {
  height : 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.displayItemsInline {
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: Optima;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.paragraph {
  font-size: 2rem;
  font-weight: bold;
}

input[type=text] {
 border-radius: 0.5em;
 border-color: white;
}

/* Buttons */

.positiveButton {
  background-color: rgba(185,125,59,255);
  border-radius: 0.5em;
  font-size: 0.9rem;
  border: none;
  color: white;
  padding: 0.5em;
  transition : background-color 0.5s ease-out 25ms;
  font-family: Optima;
}

.positiveButton:hover {
  background-color: rgba(132,138,74,255);
}

.neutralButton {
  background-color: grey;
  border-radius: 0.5em;
  font-size: 0.5rem;
  border: none;
  color: white;
  padding: 0.8em;
  font-family: Optima;
}

.previousButton {
  content: url(Ressources/previousButton.svg);
  padding-right: 3.5rem;
}

.nextButton {
  content: url(Ressources/nextButton.svg);
  padding-left: 3.5rem;
}

.minusButton {
  content: url(Ressources/minusButton.svg);
}

.plusButton {
  content: url(Ressources/plusButton.svg);
}

.errorMessage {
  font-size: 1rem;
  color: rgb(234, 118, 92);
  font-style: italic;
}

/* Index.html style */

.welcomeLogo {
  width: 10rem;
}

.welcomeImage {
  width: 9rem;
}

/* gameSetup style */

.playerAmountSelector {
  margin: 1.5rem;
}

/* playersSetup style */

.submitPlayersSetup {
  size: 10%;
}